/******************** navigation ********************/

header {
  display: grid;
  grid-template-columns:  44px auto 44px;
  padding: 5px 0 5px 10px;
  text-align: center;
  background-color: #003631;
  color: #ffeda8;
  border-bottom: solid 1px #f5dada;
  column-gap: 8px;
}

header span {
  font-size: 1.2rem;
  padding-top: 25px;
}

.hamburger {
  background-color: #003631;
  border: none;
  color: #ffeda8;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\00D7"
}

/******************** navigation ********************/

.navigation {
  display: none;
}

.navigation.show {
  display: block
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.navigation a {
  display: block;
  padding: .8rem 10px;
  background-color: #ffeda8;
  color: #003631;
  text-decoration: none;
  border-bottom: solid 1px #003631;
}

.navigation li.current {
  background-color: #ffeda8;
}

.navigation a:hover {
  background-color: #ecbd35;
}


/******************** body ********************/

body {
    background-color: #ffeda8;
    color: #003631;
    margin: 0;
    font-family: 'Acme', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#membersContainer {
  display: grid;
  gap: 1rem;
  margin: 20px;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.list-view .member-card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  margin: 0;
  gap: 1rem;
  text-align: left;
}

.list-view .member-card img {
  display: none;
}

.list-view .member-card h2 {
  font-size: 1rem;
  margin: 0;
}

.list-view .member-card:nth-child(even) {
  background-color: #003631;
  color: #ffeda8;
}

.member-card {
  border-radius: 8px;
  padding: 1rem;
  background: #ecbd35;
  border: solid 1.5px #003631;
  text-align: center;
}

.member-card img {
  max-width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
}

.view-toggle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
}

.view-toggle button{
  cursor: pointer;
  background-color: #003631;
  color:#ffeda8;
  font-size: 20px;
  border-radius: 8px;
}

/********************socials ********************/
.social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/******************** footer ********************/

footer {
  background-color: #003631;
  color: #ffeda8;
  padding: 1rem;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
}

.footer span {
  display: block;
}

.footer span {
  display: inline-block;
  width: 100%;
}