/******************** Header ********************/

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 5px 0 5px 10px;
    text-align: center;
    color: #ffeda8;
    background-color: #003631;
    border-bottom: solid 1px #ffeda8;
    column-gap: 8px;
}

.house-heart {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 3px;
}

header span {
    font-size: 1.2rem;
    padding-top: 8px;
}

.hamburger {
    background-color:#003631;
    border: none;
    color:#ffeda8;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7"
}

/******************** navigation ********************/

.navigation {
    display: none;
}

.navigation.show {
    display: block
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color:#003631;
    text-decoration: none;
    border-bottom: solid 1px #003631;
}

.navigation li.current {
    background-color: #fce190;
}

.navigation a:hover {
    background-color: #ecbd35;
}

/******************** Body ********************/

body {
    background-color: #ffeda8;
    color:#003631;
    margin: 0;
}

h1 {
    text-align: center;
}

.about {
    display: grid;
    grid-template-columns: 1fr;
}

/******************** Card 1 ********************/

.card1 {
    display: block;
}

/******************** Card 2 ********************/

.card2 {
    display: block;
}

.card2 img {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 2rem;
}

.card1 h2 {
    background-color: #003631;
    color: #ffeda8;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.card2 h2 {
    background-color: #003631;
    color: #ffeda8;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

h2 {
    background-color: #003631;
    color: #ffeda8;
    text-align: center;
    border-radius: 10px;
}

/******************** Courses ********************/

#course-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

#course-count {
    text-align: center;
}

.course {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 1rem;
    margin: 10px;
    cursor: pointer;
}

.completed {
    background-color: #ecbd35;
    border: 2px solid #003631;
    color: #003631;
    margin: 10px;
}

.not-completed {
    background-color: #003631;
    border: 2px solid #ecbd35;
    color: #fce190;
    margin: 10px;
}


/******************** Socials ********************/

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 1rem;
}


/******************** Footer ********************/

footer {
    padding: 1rem;
    text-align: center;
    color: #ffeda8;
    background-color: #003631;
}
