@media (min-width: 768px) {
    header, main, footer {
        
        margin: 0 auto;
    }

    .header {
        grid-template-columns: 24 auto;
    }

    .hamburger {
        display: none;

    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #003631;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
    }

    .navigation a {
        border: none;
    }

    .card2 img {
    margin-left: 175px;
    
    }

    h2 {
        width: 90%;
        align-items: center;
    }

}

@media (max-width: 767px) {
  .about {
    position: static;
    transform: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}